<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">

    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Posts List
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="/admin/create-post">
                        <i class="me-1" data-feather="plus"></i>
                        Create New Post
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="alert alert-success" role="alert"></div>
    <div class="card">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Post ID</th>
                        <th>Post Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Post ID</th>
                        <th>Post Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                     {{#each param}}
                    <tr>
                        <th>{{post_id}}</th>
                        <td>{{title}}</td>
                        <td>{{{formatDate create_at}}}</td>
                        <td>
                            {{#if (draft post_status)}}
                                <div class="badge bg-gray-200 text-dark">{{post_status}}</div>
                            {{/if}}
                            {{#if (pending post_status)}}
                                <div class="badge bg-yellow-soft text-yellow">{{post_status}}</div>
                            {{/if}}
                            {{#if (rejected post_status)}}
                                <div class="badge bg-red-soft text-red">{{post_status}}</div>
                            {{/if}}
                            {{#if (published post_status)}}
                                <div class="badge bg-green-soft text-green">{{post_status}}</div>
                            {{/if}}
                        </td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                                href="edit-post/{{post_id}}"><i data-feather="edit"></i></a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark"><i  onclick="onDelete({{post_id}})" href="#!" data-bs-toggle="modal" data-bs-target="#confirmDeleteDialog"><i
                                    data-feather="trash-2"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{!-- Confirm delete dialog --}}
<!-- Modal -->
<div class="modal fade" id="confirmDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteTitle">Xác nhận xoá bài viết ID: </h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn xoá?, hành động này không thể hoàn tác!</div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-primary" id="confirmDeleteBtn" onclick="doDelete()" type="button">Save changes</a></div>
        </div>
    </div>
</div>

<script>
    let id;
    onDelete =  (param) => {
        id = param;
        console.log(id);
        $('#confirmDeleteTitle').append(id)
   }

   doDelete =  () => {
    console.log(`id: ${id}`)
    $.ajax({
        url: `/api/news/delete/${id}`,
        method: "GET"
   }).done(function(){
        location.reload();
   })
   }
</script>