<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Posts List
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="/admin/create-post">
                        <i class="me-1" data-feather="plus"></i>
                        Create New Post
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-fluid px-4">
    <div class="card">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Post ID</th>
                        <th>Post Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Post ID</th>
                        <th>Post Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                     {{#each param}}
                    <tr>
                        <th>{{post_id}}</th>
                        <td>{{title}}</td>
                        <td>{{{formatDate create_at}}}</td>
                        <td>
                            {{#if (draft post_status)}}
                                <div class="badge bg-gray-200 text-dark">{{post_status}}</div>
                            {{/if}}
                            {{#if (pending post_status)}}
                                <div class="badge bg-yellow-soft text-yellow">{{post_status}}</div>
                            {{/if}}
                            {{#if (rejected post_status)}}
                                <div class="badge bg-red-soft text-red">{{post_status}}</div>
                            {{/if}}
                            {{#if (published post_status)}}
                                <div class="badge bg-green-soft text-green">{{post_status}}</div>
                            {{/if}}
                        </td>
                        <td>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark me-2"
                                href="edit-post/{{post_id}}"><i data-feather="edit"></i></a>
                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#!"><i
                                    data-feather="trash-2"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>